
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <title>Index</title>
    <style>
        .btn a {
            color: white;
            text-decoration: none;
        }
        header {
            background-color: #5F729D;
        }
        main {
            background-color: #F5D4BA;
        }
        footer {
            background-color: #5F729D;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="Index">Too long</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="Index">Home</a></li>
                    <li><a href="#">Page 1</a></li>
                    <li><a href="#">Page 2</a></li>
                    <li><a href="#">Page 3</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="RegistrationForm"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="AuthorizationForm"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <h2>main</h2>
    </main>
    <footer>
        <h2>footer</h2>
    </footer>
</body>
</html>
